---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Resume from '../components/Resume.svelte';
---

<Layout title="Fashion">
	<div class="p-5">
		<Header title="K-CHINA FASHION"></Header>
		<main class="flex flex-col items-center">
			<div class="my-8">
				<Resume client:only></Resume>
			</div>
			<a href="/clothes-register/registrar" class="bg-red-50 rounded-full text-center font-semibold text-cyan-950 py-4 px-10 text-2xl mb-5">Agregar registro</a>
			<a href="/clothes-register/compartir"
				class="mt-5 border-solid border-2 border-green-500 text-green-500 text-xl rounded-full py-4 px-10"
			>Compartir resumen</a>
		</main>
	</div>
</Layout>

